/* ! BASE */
:root {
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #3b3a3a;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;
    
    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --borda-cabecalho-mobile: #103D4A;
    --bg-rodape: #333;
    --bg-chamada-mobile: #00161C;

    --planos-cartao-start: #56CCF2;
    --planos-cartao-ultra: #B04CD9;
    --planos-cartao-mega: #E33B3B;

    --montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}


/* ! CABEÇALHO */
.cabecalho {
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .76rem;
    border-bottom: 1px solid #103D4A;
    position: absolute;
}

.cabecalho__titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.imagem-perfil {
    width: 50px;
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}

/* ! CHAMADA */

.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #00161C;
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.chamada__titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

@media screen and (min-width: 1024px) {
    .chamada {
        background-image: url(img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
        padding-bottom: 4.5rem;
    }

    .chamada__titulo {
        /* font-size: 3.25rem; */
        margin-bottom: 2rem;
    }
}

/* ! DESTAQUES/SOBREMIM */

.sobremim {
    background-color: var(--cinza-claro);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.sobremim__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

}

.sobremim__texto {
    line-height: normal;
    margin-bottom: 1rem;
}

/* ! SKILLS */

.skills {
    background-color: #DFE3E5;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.skills__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.skills_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills__item {
    margin-bottom: 1.5rem;
}

.skills__imagem {
    width: 45px;
    height: 45px;
}

.skills__figure {
    display: flex;
    align-items: center;
}

.skills__figure figcaption {
    margin-left: 1rem;
    font-weight: bold;
    color: var(--cinza-escuro);
}

@media screen and (min-width: 1024px) {
    .skills_conteudo {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* ! HOBBIES */

.hobbies {
    background-color: var(--cinza-claro);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.hobbies__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.hobbies__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hobbies__item {
    margin-bottom: 1.5rem;
}

.hobbies__figure {
    display: flex;
    align-items: center;
}

.hobbies__imagem {
    width: 40px;
    height: 40px;
}

.hobbies__figure figcaption {
    margin-left: 1rem;
    font-weight: bold;
    color: var(--cinza-escuro);
}

@media screen and (min-width: 1024px) {
    .hobbies__conteudo {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* ! FORMACAO */

.formacao {
    background-color: #DFE3E5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.formacao__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
}

.formacao__cartoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .9rem;
    margin-bottom: 1.20rem;
    color: var(--cinza-escuro);
}

.cartao__titulo {
    font-weight: 700;
    font-size: 1.1rem;
    padding: .75rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgb(150, 146, 146);
    text-align: center;
    color: var(--cinza-escuro);
}

.formacao__imagem {
    width: 150px;
}

@media screen and (min-width: 1024px) {
    .formacao__cartoes {
        flex-direction: row;
        justify-content: space-around;
    }

    .cartao {
        max-width: 300px;
    }
}

/* ! PROJETOS */

.projetos {
    background-color: var(--cinza-claro);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.projetos__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
}

.projetos__item {
    margin-bottom: 4rem;
}

.projetos__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos__imagem {
    width: 100vw;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 5px;
}

.projeto__titulo {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: .7rem;
    margin-bottom: .5rem;
    color: var(--cinza-escuro);
}

.projetos__texto {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.projeto__item-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos__link {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.botao {
    text-align: center;
    display: inline;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
}

.botao-repo {
    margin-bottom: .5rem;
    border: 1px solid #0084FF;
    color: #0084FF;
}

.botao-demo {
    background-color: #0084FF;
    color: white;
    border: none;
}

@media screen and (min-width: 1024px) {
    .projetos__item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projeto__item-conteudo {
        margin-left: 2rem;
    }

    .botao {
        padding: .7rem 1rem;
    }
}

/* ! CONTATO */

.contato {
    background-color: #DFE3E5;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.contato__titulo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.contato__info {
    margin-bottom: 2rem;
}

.contato__imagem {
    display: none;
}

form label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    margin-top: .8rem;
    color: var(--cinza-escuro);
}

.input-contato {
    padding: .5rem .1rem;
    border: none;
    width: 80%;
    max-width: 300px;
}

.enviar {
    padding: .8rem 1rem;
    margin-top: 1rem;
    font-weight: 700;
    background-color: #0084FF;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .contato-form {
        display: flex;
        flex-direction: column;
    }

    .input-contato {
        width: 400px;
    }

    .enviar {
        width: 180px;
        padding: .6rem .8rem;
    }

    .contato__imagem {
        display: inline;
        max-width: 400px;
        max-height: 500px;
    }

    .contato__conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__info {
        margin-bottom: 1rem;
    }

    .contato__formulario {
        margin-left: 1.5rem;
    }

}

/* ! FOOTER */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem;
}

.rodape__social {
    display: flex;
}

.rodape__midia {
    display: block;
    margin: 2rem 1rem;
}

.rodape__midia img {
    width: 42px;
    height: 42px;
}

.rodape__navegacao {
    color: white;
    text-align: center;
    line-height: 3;
}

.rodape__link {
    display: inline-block;
    margin: 0 .5rem .7rem;
}

@media screen and (min-width: 1024px) {
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .rodape__navegacao {
        text-align: left;
        min-width: 800px;
    }

    .rodape__social {
        align-items: center;
    }
}